header {
    position: fixed;
    top: 0;
    width: 100%;
    
    nav {
        /* background-color: blue; */
        background-color: #000;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        .logo {
            width: 28%;
            padding: 8px;
            a {
                img {
                    width: 100%;
                }
                
            }
        }

        ul {
            list-style: none;
            font-size: 14px;
            width: 50%;
            height: 35px;
            /* background-color: red; */
            background-color: #000;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
 

            li {

                a {
                   color: #fff; 
                   text-decoration: none;
                   

                   &:hover {
                    color: red;
                    transition: 1s;
                   }
                }
            }
        }
    }
}