header {
    nav {
        background-color: blue;
        .logo {
            width: 30%;
            a {
                img {
                    width: 100%;
                }
                
            }
        }
    }
}